// === Variables === \\
// Colors
$black: #000;
$white: #fff;

// For project
$black-2: #2a2a2a;
// $light-white: #e5e5e5;
// $green: #8cc541;
// $dark-gray: #575757;

/* Typography */
// Colors
$primary-color: $black;

// Font Families
$primary-font: 'Gilroy';
// $secondary-font: 'Montserrat', sans-serif;

// Font Sizes
$primary-font-size: 1.7rem;
// $secondary-font-size: 1.6rem;

$primary-font-weight: 400;

// Line Heights
$primary-line-height: 2;

$transition-duration: 0.45s;
